# codes
.PyCharm.java/
.PyCharmCE2017.3/
.idea/
trainer/playground.py
.zsh_history

# config
__pycache__/
*.pyc
.config/
.cache/
.local/

# temp
output/
data/

# docker
.env
docker-compose-dev.yml

!.keep
