# codes
.idea/
__pycache__/
babylearning/log/*
babylearning/checkpoints/*
babylearning/resources/*
babylearning/python/playground.py

# docker
.zsh_history
docker-compose-dev.yml
db

# ide
.PyCharmCE*

!.keep
